body{
  background-color: grey;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.header--bar{
  background-color: black;
}
.nav{
  padding: 0 6rem;
}
.counter{
  display:flex;
  margin:auto;
  justify-content: center;
  align-items: center;
}
h1.count{
  padding: 0 10px;

}
.card-img{
  width:20rem;
  height: auto;
  padding:10px;
}
@media only screen and (max-width:400px){
  .card-img{
    width:15rem;
    height: auto;
    padding:10px;
    align-self: center;
    
  }
} 
.card-area{
  margin:.25rem;
}
.card{
  width: 20rem;
  margin: 2rem 1rem;
}
.card--container{
  display:flex;
  flex-wrap: wrap;
  margin:auto;
  justify-content: space-evenly;
}